/* Your styles here */
body {
  background-color: #e9edee;
}

.header {
  background-color: #222f3f;
}

.headerimg1 {
  width: 100px;
}

.nav1 {
  background-color: #364759;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.ul1 {
  list-style-type: none;
  padding: 0.5rem;
  display: flex;
  font-size: 10px;
}
li {
  margin-right: 10px;
}

.div2 {
  text-align: center;
  padding: 1rem;
}

.divtext2 {
  background-color: #f56600;
  padding: 0.4rem;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.div3 {
  position: relative;
  text-align: center;
  color: white;
}

.div3-image {
  width: 97%;
  height: auto;
}

.text-div3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: #376297;
}

.div4 {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}

.div4-h5 {
  padding: 0.5rem;
}
.container {
  display: flex;
  justify-content: space-between;
}

.container img {
  width: 20%;
  height: auto;
  margin: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.div5 {
  text-align: center;
  margin: 1rem;
}

.div5-img {
  width: 100%;
}

.div6 {
  text-align: center;
  margin: 1rem;
}

.div6-img {
  width: 100%;
}

.div7 {
  background-color: #364759;
  text-align: center;
  padding: 1rem;
}

.div8 {
  text-align: center;
  background-color: #222f3f;
  padding: 1.5rem;
}

.div8-img {
  width: 20%;
}
